@import "variables.scss";

.btn {
  padding: $padding $padding*2;
  background: rgba(0, 0, 0, 1);
  color: white;
  outline: none;
  box-shadow: 0 0 8px 0 #e0e0e0;
  border: none;
  cursor: pointer;
  transition: all .2s linear;
  margin: 5px 0;
  border: 1px solid black;


  &:hover {
    background: white;
    color: black;
  }
}